<h1 class="font-weight-bold" align="center">To-dos</h1>
<ul class="list-group list-group-flush" id="todos">
  <%# user.todos.each do |todo| %>
    <li class="list-group-item text-black">
      <%#= todo.data %>
      <button type="button" class="close" onClick="deleteTodo({{ todo.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
  <%# end %>
</ul>
<form method="POST">
  <textarea
    name="todo"
    id="todo"
    class="form-control"
    placeholder="I need to..."
  ></textarea>
  <br />
  <div align="center">
    <button
      type="submit"
      class="btn btn-primary font-weight-bold button-orange"
      name="execute"
    >
      To do
    </button>
  </div>
</form>
<br />
<h1 class="font-weight-bold" align="center">Resources</h1>
<div align="center" class="container">
  <%= image_tag 'imageresource-large.jpg', style: 'height: 500px' %>
</div>
