<h1 class="font-weight-bold" align="center">SwallowedException</h1>
<form action="<%= badapp_swallowedexception_path %>" method="POST">
  <div align="center">
    <button
      type="submit"
      class="btn btn-primary font-weight-bold button-orange"
      name="execute"
    >
      BAD APP
    </button>
  </div>
</form>
